#countriesFilterForm {
  margin-bottom: 1em;
}



.select2-selection__rendered {
  line-height: 2.1em !important;

}
.select2-container .select2-selection--single {
  height: 2.3em !important;
  padding: 2px 2px 2px 2px !important;
}
.select2-selection__arrow {
  height: 2.2em !important;
}


#currentWeather {

  font-size: 1.5rem;

  .current-temperature {
    font-size: 0;

    .temperature {
      font-size: 5rem;
    }

    .unit {
      vertical-align: super;
      font-size: 2rem;
      position: relative;
      bottom: 2.7rem;
      right: 0.3rem;
    }

    .decimals {
      font-size: 2.8rem;
    }
  }

  .current-conditions {
    font-size: 1.2rem;

    .icon {
      width: 2rem !important;
      margin-right: 1rem;
      text-align: center;
    }
  }

  .last-updated {
    font-size: 0.85rem;

    .icon {
      margin-right: 0.5em;
    }
  }

}

#weatherForecast {
  .dayname {
    margin-bottom: 1em;
  }
  .row.temperature {
    .icon {
      font-size: 1.4rem;
      margin-right: 0.5rem;
    }
    .value {
      font-size: 1.9rem;
    }
    .unit {
      vertical-align: super;
      font-size: 1rem;
      position: relative;
      bottom: 0.6rem;
      right: 0.1rem;
    }
  }
  .row.temperature.smaller {
    .icon {
      font-size: 1rem;
      margin-right: 0.3rem;
    }
    .value {
      font-size: 1.5rem;
    }
    .unit {
      vertical-align: super;
      font-size: 0.8rem;
      position: relative;
      bottom: 0.5rem;
      right: 0.2rem;
    }
  }
  .row.wind-pressure-rain-snow {
    margin-top: 1em;
    .icon {
      font-size: 1.3rem;
      margin-right: 0.25rem;
    }
    .value {
      font-size: 1.2rem;
    }
    .unit {
      vertical-align: super;
      font-size: 0.8rem;
      position: relative;
      bottom: 0.4rem;
      right: 0.1rem;
    }
  }
}

.nav-item {
  .nav-link {
    .icon {
      width: 1.5rem;
      text-align: center;
    }
    .temperature {
      width: 2rem;
      text-align: right;
      display: inline-block;
      margin-left: 1rem;
    }
  }
}