#countriesFilterForm {
  margin-bottom: 1em;
}

.select2-selection__rendered {
  line-height: 2.1em !important;
}

.select2-container .select2-selection--single {
  height: 2.3em !important;
  padding: 2px 2px 2px 2px !important;
}

.select2-selection__arrow {
  height: 2.2em !important;
}

#currentWeather {
  font-size: 1.5rem;
}

#currentWeather .current-temperature {
  font-size: 0;
}

#currentWeather .current-temperature .temperature {
  font-size: 5rem;
}

#currentWeather .current-temperature .unit {
  vertical-align: super;
  font-size: 2rem;
  position: relative;
  bottom: 2.7rem;
  right: 0.3rem;
}

#currentWeather .current-temperature .decimals {
  font-size: 2.8rem;
}

#currentWeather .current-conditions {
  font-size: 1.2rem;
}

#currentWeather .current-conditions .icon {
  width: 2rem !important;
  margin-right: 1rem;
  text-align: center;
}

#currentWeather .last-updated {
  font-size: 0.85rem;
}

#currentWeather .last-updated .icon {
  margin-right: 0.5em;
}

#weatherForecast .dayname {
  margin-bottom: 1em;
}

#weatherForecast .row.temperature .icon {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

#weatherForecast .row.temperature .value {
  font-size: 1.9rem;
}

#weatherForecast .row.temperature .unit {
  vertical-align: super;
  font-size: 1rem;
  position: relative;
  bottom: 0.6rem;
  right: 0.1rem;
}

#weatherForecast .row.temperature.smaller .icon {
  font-size: 1rem;
  margin-right: 0.3rem;
}

#weatherForecast .row.temperature.smaller .value {
  font-size: 1.5rem;
}

#weatherForecast .row.temperature.smaller .unit {
  vertical-align: super;
  font-size: 0.8rem;
  position: relative;
  bottom: 0.5rem;
  right: 0.2rem;
}

#weatherForecast .row.wind-pressure-rain-snow {
  margin-top: 1em;
}

#weatherForecast .row.wind-pressure-rain-snow .icon {
  font-size: 1.3rem;
  margin-right: 0.25rem;
}

#weatherForecast .row.wind-pressure-rain-snow .value {
  font-size: 1.2rem;
}

#weatherForecast .row.wind-pressure-rain-snow .unit {
  vertical-align: super;
  font-size: 0.8rem;
  position: relative;
  bottom: 0.4rem;
  right: 0.1rem;
}

.nav-item .nav-link .icon {
  width: 1.5rem;
  text-align: center;
}

.nav-item .nav-link .temperature {
  width: 2rem;
  text-align: right;
  display: inline-block;
  margin-left: 1rem;
}

